/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v18-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/inter-v18-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v18-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/inter-v18-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  html{
    box-sizing: border-box;
  }
*, *::before, *::after{
    box-sizing: inherit;
}


/* Стили заголовка*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


body{
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px
    line-height: 1.2;
    font-weight:normal;
    color: 009E0B;
}

.wrapper{
    max-width: 1225px;
    margin: auto;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 86px;
}
.header__item :last-child{
    margin-right: 0;
}

.header__link{
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header__link:hover,.header__link:focus, .header__link:active{
    opacity: .75;
}

/* Стили заголовка end*/

/*интро стили начало*/

.intro{
    height: 100vh;
    background: url(../img/svg/Frame\ 3.jpg) no-repeat center;
    background-size: cover;
    background-color: rgb(0, 0, 12);
    padding-top: 190px;
    color: white;
    margin-bottom: 23px;
}

.intro__subtitle{
    max-width: 623PX;
    color: aqua;
    font-size: 20px;
    line-height: 19PX;
    margin-bottom: 59px;
}

.search-form__field{
    
    background: transparent url(../img/svg/Кнопка\ купить.svg)no-repeat center;
    background-size: 170px;
    block-size: 86px ;
    border: 0;
    border-bottom: 2px solid;
    margin-right: 60px;
}

.search-form2__field{
    
    background:transparent url(../img/svg/Кнопка\ галлерея.svg)no-repeat center;
    background-size: 170px;
    block-size: 86px ;
    border: 0;
    border-bottom: 2px solid;
    margin-right: 60px;
}




/*интро стили конец*/

.benefits__wrap{
  background: transparent url(../img/svg/Frame\ 2.svg);  
  
}

